/* BASIC STYLE CHOICES */

body {
	background-color: #F5F5F5;
	font-family: 'Unica One', cursive;
	height: auto;
	width: auto;
}

h1{
	font-size: 3em;
}
h2{
	font-size: 2em;
}

h1, h2, h3, h4, h5, h6{
	color: #b0c4de;
}

a{
	color: #b0c4de;
	text-align: center;
	text-decoration: none;
}


a:hover{
	color: #ddd;
}

/* ELEMENTS */

.signIn{
	background-color: rgba(255,255,255, 0.6);
	width: 1000px;
	font-size: 25px;
	border: 1px dashed #b0c4de;
	margin: 0px auto 200px;
	text-align: center;
	-moz-border-radius: 45px;
	border-radius: 45px;
	position: relative;
	z-index: 1;
}

#navbar{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	max-height: 30px;
	z-index: 2;
	border-bottom: 1px dashed #BFAC98;
	background-color: rgba(176, 196, 222, .8);
}

#navbar ul{
	list-style:none;
	margin: 0;
	width: 100%;
}

#navbar li {
	padding-top: 5px;
	float: left;
	border-right: 1px dashed #fff;
	color: #fff;
	height: 30px;
}

#navbar li.logo{
	width: 10%;
}

#navbar li.search{
	padding-top: 0px;
	font-family: "Unica One", cursive;
	font-size: 1em;
	width: 60%;
	text-align: right;
}

#navbar li.settings{
	width: 20%;
}

.navsearch{
	width: 400px;
	height: 30px;
	border: 0px;
	padding: 0px;
}

#navbar li a{
	color: black;
	display: block;
	background: rgba(255, 255, 255, .02);
	padding: 0em 2em;
	text-decoration: none;
}

#navbar li a:hover{
	color: #fff;
}

#navbar li ul {
	display: none;
	position: absolute;
	padding: 0;
}

#navbar li:hover ul{
	display: block;
}

#navbar li li{
	float: none;
	background-color: rgba(176, 196, 222, .8);
}

#navbar li li a {
	color: #fff;
}

#userheader{
	top: 0;
	left:0;
	position: relative;
	background-color: rgba(255,255,255, 0.6);
	height: 80px;
	font-size: 15px;
	z-index: 1;
	padding: 10px 25px 20px 25px;
	color: #000;
	line-height: 15px;
	border: 1px dashed #b0c4de;
	-moz-border-bottom-right-radius: 45px;
	border-bottom-right-radius: 45px;
	-moz-border-bottom-left-radius: 45px;
	border-bottom-left-radius: 45px;
}

#infotable{
	text-align: center;
	width: 100%;
}

.key{
	position: absolute;
	bottom: 60px;
	text-align: center;
	font-size: 15px;
	color: #86786A;
	width: 100%;
}

.num{
	position: absolute;
	bottom: 20px;
	text-align: center;
	font-size: 4em;
	color: #fff;
	width: 100%;
}

.timebox{
	position: static;
	width: 100%;
	margin-top: 20px;
}

.timeheader{
	border-bottom: 1px solid #ddd
	}

.infobox{
	position: absolute;
	bottom: 0px;
	background-color: rgba(191,172,152, 0.4);	
	width: 175px;
	height: 60px;
}

.photo{
	left: 500px;
}
.following{
	left: 690px;
}
.follower{
	left: 880px;
}

.tagline{
	position: absolute;
	bottom: 10px;
	left: 135px;
	text-align: right;
}

#infotable .key{
	font-size: 20px;
}

#infotable .num{
	font-size: 15px;
	color: #b0c4de;
}


.view{
	position: absolute;
	bottom: 10px;
	left: 330px;
}

.view a{
	color: #BFAC98
}

.view a:hover{
	color: #ddd;
}

.name{
	position: absolute;
	bottom: 35px;
	left: 135px;
	font-size: 3em;
	line-height: -.2em;
	text-align: left;
	color: #b0c4de;
}

#infotable .avatar{
	width: 70px;
}

#userheader img{
	position: absolute;
	bottom: 10px;
	left: 55px;
	height: 70px;
	width: 70px;
	border: 1px solid black;
}

.info{
	position: relative;
	z-index: 2;
}

.register{
	background-color: white;
	border: 1px dashed #b0c4de;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 25px 5px #999;
	color: #111;
	display: none;
	min-width: 450px;
	padding: 50px 30px;
}


.register>table>tbody>tr>td{
	width: 200px;
}

.register{
	display:none;
	text-align: center;
	border-collapse: collapse;
}

.logo{
	width: 300px;
	height: 300px;
}

#title
{
	width: 100%;
	display: block;
	font-size: 10em;
	color: #000;
	position: relative;
	top: 20px;
	text-align: center;
	z-index: 2;
	font-family: 'Unica One', cursive;
	text-decoration: bold;
	line-height: 1em;
}


form input{
	width: 200px;
	height: 30px;
}


/* SHADOW */

.one-edge-shadow{
	-webkit-box-shadow: 0 10px 50px -6px black;
	-moz-box-shadow: 0 10px 50px -6px black;
	box-shadow: 0 10px 50px -6px black;
}

/* BUTTONS */

.button.bClose{
	border-radius: 7px 7px 7px 7px;
	box-shadow: none;
	font: bold 131% sans-serif;
	padding: 0 6px 2px;
	position: absolute;
	right: -7px;
	top: -7px;
}

.button{
	background-color: #b0c4de;
	border-radius: 10px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	color: white;
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	height: auto;
	font-family: 'Unica One', cursive;
}

.navbutton{
	background-color: rgba(191,172,152, 0.4);
	color: #fff;
	cursor: pointer;
	border: 0px;
	text-align: center;
	width: 100px;
	height: 30px;
	font-family: 'Unica One', cursive;
}

#signInPageButtons{
	margin: 20px 0px;
}



/* ROUNDABOUT */

ul.roundabout-holder {
	list-style: none;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 25em;
	height: 13em;
}

li.roundabout-moveable-item {
	position:absolute;
	top: 0px;
	height: 5em;
	width: 300px;
	margin: -80px auto;
	text-align: center;
	cursor: pointer;
	opacity: 0.9;
}

li.roundabout-in-focus {
	position:absolute;
	margin: -80px auto;
	top: 0px;
	cursor: default;
}

li span {
	display: block;
	padding-top: 6em;
}
